/* Header */
.post-header {
  background: linear-gradient(#425e8e, #5171ae);
  background-clip: content-box;
  padding: 0px;
}

.post-header > .post-header-content {
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Post */
.row.post {
  overflow: hidden;
}

.row.post [class*='col-'] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.post-author {
  background-color: #f2f2f2;
}

.post-author > .post-author-content {
  padding: 10px 0px;
  word-wrap: break-word;
}

.post-author-content > .username {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-author-content > .quote {
  font-size: 0.8em;
  line-height: 100%;
}

.post-author-content > .footer {
  font-size: 10px;
}

.post-message {
  background-color: #ececec;
}
