{% extends "base.html" %}
{% block title %}Blog{% endblock title %}
{% load static %}
{% load cache %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
  <li><a href="{% url 'blog:top' %}">Accueil</a></li>
  <li class="active">{{ p.title }}</a></li>
</ol>
{# Posts #}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 page-header">
        <h1>{{ p.title|capfirst }}</h1>
        <p><em>Le {{ p.created_at|date:'d F Y à H:i' }}, par {{ p.author.username }} <a href="{% url 'blog:post' p.pk %}"><small><span class="glyphicon glyphicon-link"></span></small></a>{% if p.author == user %} – <a href="{% url 'blog:edit' p.slug %}">Modifier</a>{% endif %}</em></p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        {% if p.image %}
          <img src="{{ media }}{{ p.image }}" class="img-responsive" style="max-height:450px">
        {% endif %}
        <p>{{ p.html|safe }}</p>
        {% if p.forum_thread %}
        <a href="{% url 'forum:thread' p.forum_thread.category.slug p.forum_thread.slug %}">{{ p.forum_thread.post_count|add:"-1" }} commentaire(s)</a>
        {% endif %}
      </div>
    </div>
</div>
<br><br>
{% endblock %}