{% extends "base.html" %}
{% load static %}
{% load cache %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
  <li><a href="{% url 'blog:top' %}">Accueil</a></li>
</ol>
{% include "pagination.html" %}
{% if user.is_authenticated %}
{# Buttons #}
<div class="row text-center">
  <div style="padding: 10px 0">
    <a href="{% url 'blog:new_post' %}">
      <button class="btn btn-default">Nouveau Post</button></a>
  </div>
</div>
{% endif %}
{# Posts #}
    {% for p in object_list %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 page-header">
        <h1>{{ p.title }}</h1>
        <p><em>Le {{ p.created_at|date:'d F Y à H:i' }}, par {{ p.author.username }}{% if p.author == user %} – <a href="{% url 'blog:edit' p.slug %}">Modifier</a>{% endif %}</em></p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        {% if p.image %}
          <img src="{{ media }}{{ p.image }}" class="img-responsive" style="max-height:450px">
        {% endif %}
        <p>{{ p.html|safe }}</p>
      </div>
    </div>
    {% endfor %}
</div>
{# Footer #}
{% include "pagination.html" %}
{% endblock %}