{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'blog:top' %}">Accueil</a></li>
    <li class="active">Nouveau Post</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form %}
    </div>
    {% include "smileys.html" %}
</div>
<script>
    // Focus
    $textArea = $("textarea[id$='content']")
    $textArea.focus();
    var length = $textArea.val().length;
    $textArea[0].setSelectionRange(length, length);
</script>
{% endblock %}