{% extends "base.html" %}
{% block title %}MP - {{ recipient }}{% endblock title %}
{% block content %}
{% load static %}
{# Path #}
<ol class="breadcrumb">
  <li><a href="{% url 'forum:top' %}">Accueil</a></li>
  <li><a href="{% url 'pm:top' %}">Messages privés</a></li>
  <li class="active">Discussion avec {{ recipient }}</li>
</ol><br>
{% include "pagination.html" %}
{# Header #}
<hr style="margin:8px; border-top:0">
<div class="row">
  <strong>
    <div class="col-sm-2 hidden-xs text-left post-header" style="border-right:1px solid #f9f9f9">
      Auteur
    </div>
    <div class="col-sm-10 post-header">
      Message
    </div>
  </strong>
</div>
<hr style="margin:1px; border-top:0">
{# Posts #}
{% for msg in object_list %}
{% if msg.shown %}
<div class="row">
  <a name="{{ msg.pk }}"></a>
  {# Author panel #}
  <div class="col-sm-2 text-center hidden-xs equal-divs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2;">
    <p style="word-wrap: break-word">
      <strong>{{ msg.author }}</strong><br>
      {% if msg.author.quote %}
        <small>{{ msg.author.quote }}</small>
      {% endif %}
    </p>
    {% if msg.author.logo %}
      <p><img src="{{ media }}{{ msg.author.logo }}" alt=""></p>
    {% endif %}
    <p style="font-size:10px">depuis le {{ msg.author.date_joined|date:'d/m/Y' }}</p>
  </div>
  {# Content #}
  <div class="col-sm-10 post equal-divs">
    <span class="hidden-lg hidden-md hidden-sm" style="display:inline"><strong>{{ msg.author }}</strong> | </span>
    <small>
      Posté le {{ msg.created|date:"j F Y à H:i:s" }} | <a href="#" data-toggle='modal' data-target='#deleteModal-{{ msg.pk }}'>Supprimer</a>
    </small>
    <hr style="margin:5px; border-top: 1px solid #ccc">
    <div class="post-content">
      {{ msg.html|safe }}
    </div>
  </div>
</div>
{% include "pagination.html" %}
<hr style="margin:8px; border-top:0">
{# Delete modal #}
<div class="modal fade" id="deleteModal-{{ msg.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Êtes-vous sûr de vouloir supprimer ce message ?</h4>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'pm:delete_msg' msg.pk %}">
        {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-danger">Oui, supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{# Quick reply #}
<hr style="margin:20px; border-top: 1px solid #ccc">
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    {% include "toolbar.html" %}
    <form method="post" action="{% url 'pm:new_msg' conversation.pk %}">
    {% csrf_token %}
      <strong>Répondre :</strong>
      <br>
      <textarea cols="80" id="id_content_plain" class="textarea form-control" name="content_plain" rows="5"></textarea>
      <br>
      <button type="submit" class="btn btn-primary" accesskey="s">Envoyer</button>
    </form>
    <br>
    {% include "smileys.html" %}
    <script>
      $('#smileys-panel').removeClass("col-xs-5").addClass("col-xs-12");
      $('#smileys-panel > div > div > br').remove()
    </script>
  </div>
</div>
{# Path #}
<ol class="breadcrumb">
  <li><a href="{% url 'forum:top' %}">Accueil</a></li>
  <li><a href="{% url 'pm:top' %}">Messages privés</a></li>
  <li class="active">Discussion avec {{ recipient }}</li>
</ol>
{% endblock %}
