<div class="col-xs-5 panel panel-default" id="smileys-panel" style="margin:0">
    <div class="panel-body">
        <div class="text-center" style="letter-spacing:5px;line-height:200%">
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/salut.gif" alt=":salut:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/kikoo.gif" alt=":kikoo:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/special-smile.gif" alt=":)"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/smile.gif" alt=":smile:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/special-wink.gif" alt=";)"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/sun.gif" alt=":sun:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/green.gif" alt=":D"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/weee.gif" alt=":weee:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/ane.gif" alt=":ane:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/maboul.gif" alt=":maboul:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/vv.gif" alt=":vv:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/green2.gif" alt=":green2:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/dent2.gif" alt=":dent2:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/banane.gif" alt=":banane:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/blonde.gif" alt=":blonde:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lapin.gif" alt=":lapin:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/geek.gif" alt=":geek:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/nerd.gif" alt=":nerd:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/bicluc.gif" alt=":bicluc:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lolpa.gif" alt=":lolpa:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/kneu.gif" alt=":kneu:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/kc.gif" alt=":kc:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/troll.gif" alt=":troll:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/bond.gif" alt=":bond:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/winner.gif" alt=":winner:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/ko.gif" alt=":ko:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/pt.gif" alt=":pt:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/heu.gif" alt=":heu:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/hihi.gif" alt=":hihi:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/beu.gif" alt=":beu:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lolkc.gif" alt=":lolkc:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lol.gif" alt=":lol:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/mdr.gif" alt=":mdr:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/ptdr.gif" alt=":ptdr:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lala.gif" alt=":lala:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/siffle.gif" alt=":siffle:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/gum.gif" alt=":gum:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/hard.gif" alt=":hard:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/cache.gif" alt=":cache:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/ange.gif" alt=":ange:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/prie.gif" alt=":prie:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/kimouss.gif" alt=":kimouss:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/miam.gif" alt=":miam:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/zzz.gif" alt=":zzz:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/+.gif" alt=":+:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/yep.gif" alt=":yep:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/oui.gif" alt=":oui:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/bravo.gif" alt=":bravo:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/respect.gif" alt=":respect:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/love1.gif" alt=":love1:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/love2.gif" alt=":love2:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/bise.gif" alt=":bise:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/smack.gif" alt=":smack:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/niktou.gif" alt=":niktou:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/oh.gif" alt=":oh:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/han.gif" alt=":han:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/mmm.gif" alt=":mmm:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/hein.gif" alt=":hein:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/special-3question.gif" alt=":???:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/tanpi.gif" alt=":tanpi:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/bof.gif" alt=":bof:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/peur.gif" alt=":peur:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/vomi.gif" alt=":vomi:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/mal.gif" alt=":mal:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/arf.gif" alt=":arf:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/pfff.gif" alt=":pfff:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/alala.gif" alt=":alala:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/pendu.gif" alt=":pendu:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/-.gif" alt=":-:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/non.gif" alt=":non:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/colere.gif" alt=":colere:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/grrr.gif" alt=":grrr:"></span>
            <br class="hidden-xs hidden-sm" />
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/-o.gif" alt=":-o:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/special-sad.gif" alt=":("></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/pleure.gif" alt=":pleure:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/larme.gif" alt=":larme:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lang1.gif" alt=":lang1:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/lang2.gif" alt=":lang2:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/fuck1.gif" alt=":fuck1:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/fuck2.gif" alt=":fuck2:"></span>
            <span class="fake-link"><img class="smiley" src="/static/img/smileys/diable2.gif" alt=":diable2:"></span>
        </div>
        <small>
            <p class="text-center" style="padding:25px">Voir tous les smileys</p>
        </small>
    </div>
</div>
<script>
    // Show-Hide the smiley's panel
    $('#smileys-panel').hide();
    $('#show-smileys').click(function() {
        if($(this).hasClass("active")) {
            $(this).removeClass("active");
            $('#main').removeClass("col-xs-7").addClass("col-xs-12");
        } else {
            $(this).addClass("active");    
            $('#main').removeClass("col-xs-12").addClass("col-xs-7");
        }
        $('#smileys-panel').toggle();
        $("textarea[id$='content_plain']").focus();
    });
    // Add smileys to message
    function insertSmiley($textArea, smiley) {
        var len = $textArea.val().length;
        var start = $textArea[0].selectionStart;
        var end = $textArea[0].selectionEnd;
        $textArea.val($textArea.val().substring(0, start) + " " + smiley + " " + $textArea.val().substring(end, len));
        return start + smiley.length + "  ".length;
    };
    $('span.fake-link > img.smiley').click(function() {
        console.log($(this).attr("alt"));
        var $text = $("textarea[id$='content_plain']");
        var caret = insertSmiley($text, $(this).attr("alt"));
        scrollToPosition($text, caret);
        // $text[0].setSelectionRange(caret, caret);
    });
</script>