<div class="col-xs-5 panel panel-default equal-divs" id="smileys-panel" style="margin:0">
    <div class="panel-body">
        <div class="text-center" style="letter-spacing:5px;line-height:200%">
            <a href="#"><img class="smiley" src="/static/img/smileys/salut.gif" alt=":salut:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/kikoo.gif" alt=":kikoo:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/special-smile.gif" alt=":)"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/smile.gif" alt=":smile:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/special-wink.gif" alt=";)"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/sun.gif" alt=":sun:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/green.gif" alt=":D"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/weee.gif" alt=":weee:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/ane.gif" alt=":ane:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/maboul.gif" alt=":maboul:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/vv.gif" alt=":vv:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/green2.gif" alt=":green2:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/dent2.gif" alt=":dent2:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/banane.gif" alt=":banane:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/blonde.gif" alt=":blonde:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lapin.gif" alt=":lapin:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/geek.gif" alt=":geek:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/nerd.gif" alt=":nerd:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/bicluc.gif" alt=":bicluc:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lolpa.gif" alt=":lolpa:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/kneu.gif" alt=":kneu:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/kc.gif" alt=":kc:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/troll.gif" alt=":troll:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/bond.gif" alt=":bond:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/winner.gif" alt=":winner:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/ko.gif" alt=":ko:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/pt.gif" alt=":pt:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/heu.gif" alt=":heu:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/hihi.gif" alt=":hihi:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/beu.gif" alt=":beu:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lolkc.gif" alt=":lolkc:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lol.gif" alt=":lol:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/mdr.gif" alt=":mdr:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/ptdr.gif" alt=":ptdr:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lala.gif" alt=":lala:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/siffle.gif" alt=":siffle:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/gum.gif" alt=":gum:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/hard.gif" alt=":hard:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/cache.gif" alt=":cache:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/ange.gif" alt=":ange:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/prie.gif" alt=":prie:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/kimouss.gif" alt=":kimouss:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/miam.gif" alt=":miam:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/zzz.gif" alt=":zzz:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/+.gif" alt=":+:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/yep.gif" alt=":yep:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/oui.gif" alt=":oui:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/bravo.gif" alt=":bravo:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/respect.gif" alt=":respect:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/love1.gif" alt=":love1:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/love2.gif" alt=":love2:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/bise.gif" alt=":bise:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/smack.gif" alt=":smack:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/niktou.gif" alt=":niktou:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/oh.gif" alt=":oh:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/han.gif" alt=":han:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/mmm.gif" alt=":mmm:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/hein.gif" alt=":hein:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/special-3question.gif" alt=":???:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/tanpi.gif" alt=":tanpi:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/bof.gif" alt=":bof:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/peur.gif" alt=":peur:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/vomi.gif" alt=":vomi:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/mal.gif" alt=":mal:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/arf.gif" alt=":arf:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/pfff.gif" alt=":pfff:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/alala.gif" alt=":alala:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/pendu.gif" alt=":pendu:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/-.gif" alt=":-:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/non.gif" alt=":non:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/colere.gif" alt=":colere:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/grrr.gif" alt=":grrr:"></a>
            <br class="hidden-xs hidden-sm" />
            <a href="#"><img class="smiley" src="/static/img/smileys/-o.gif" alt=":-o:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/special-sad.gif" alt=":("></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/pleure.gif" alt=":pleure:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/larme.gif" alt=":larme:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lang1.gif" alt=":lang1:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/lang2.gif" alt=":lang2:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/fuck1.gif" alt=":fuck1:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/fuck2.gif" alt=":fuck2:"></a>
            <a href="#"><img class="smiley" src="/static/img/smileys/diable2.gif" alt=":diable2:"></a>
        </div>
        <small>
            <p class="text-center" style="padding:25px">Voir tous les smileys</p>
        </small>
    </div>
</div>
<script>
    // Show-Hide the smiley's panel
    $('#smileys-panel').hide();
    $('#show-smileys').click(function() {
        if($(this).hasClass("active")) {
            $(this).removeClass("active");
            $('#main').removeClass("col-xs-7").addClass("col-xs-12");
        } else {
            $(this).addClass("active");    
            $('#main').removeClass("col-xs-12").addClass("col-xs-7");
        }
        $('#smileys-panel').toggle();
        $('.equal-divs').responsiveEqualHeightGrid();
        $("textarea[id$='content_plain']").focus();
    });
    $('.equal-divs').responsiveEqualHeightGrid();
    // Add smileys to message
    function insertSmiley($textArea, smiley) {
        var len = $textArea.val().length;
        var start = $textArea[0].selectionStart;
        var end = $textArea[0].selectionEnd;
        $textArea.val($textArea.val().substring(0, start) + " " + smiley + " " + $textArea.val().substring(end, len));
        return start + smiley.length + "  ".length;
    };
    $('a > img.smiley').click(function() {
        console.log($(this).attr("alt"));
        var $text = $("textarea[id$='content_plain']");
        var caret = insertSmiley($text, $(this).attr("alt"));
        $text.focus();
        $text[0].setSelectionRange(caret, caret);
    });
</script>