{% extends "base.html" %}
{% load static %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
    <li class="active">Accueil</li>
</ol>
<div class="hidden-xs"><br><br></div>
{# Threads #}
<div class="row">
    <table class="table table-condensed table-bordered" id="view">
        <thead>
        <tr>
            <th class="text-center" style="padding:5px 0;width:25px"><a href="#" data-toggle='modal' data-target='#reset-bookmarks'><img src="{% static 'img/detail_search.gif' %}" style="vertical-align:bottom;padding-bottom:3px"></a></th>
            <th>Catégories</th>
            <th class="text-center col-xs-1 hidden-xs">Messages</th>
            <th class="text-center col-xs-1 hidden-xs">Réponses</th>
            <th class="text-center col-xs-2">Dernier<span class="hidden-xs"> message</span></th>
        </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td class="vert-align">
                    <img src="{% static category.status %}" style="vertical-align:middle;padding:0 0 3px 0;">
                </td>
                <td class="vert-align" style="height:45px">
                    <strong><a href="{% url 'forum:category' category.slug %}">{{ category.title }}</a></strong><br>
                    <small class="hidden-xs">{{ category.subtitle }}</small>
                </td>
                <td class="text-center vert-align hidden-xs"><small>{{ category.threads.count }}</small></td>
                <td class="text-center vert-align hidden-xs"><small>{{ category.postCount }}</small></td>
                <td class="text-center vert-align">
                    {% if category.latest_thread %}
                        <small>
                        <a href="{% url 'forum:thread' category.slug category.latest_thread.slug %}?page=last#{{ category.latest_thread.latest_post.pk }}" class="lastMessage">
                        <span class="hidden-xs">{{ category.latest_thread.modified|date:'d/m/y H:i' }}<br></span>
                        <span class="visible-xs">{{ category.latest_thread.modified|date:'d/m H:i' }}</span>
                        <strong>{{ category.latest_thread.latest_post.cached_author }}</strong>
                        </a>
                        </small>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{# Reset bookmarks modal #}
<div class="modal fade" id="reset-bookmarks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Êtes-vous sûr de vouloir réinitialiser le statut de lecture de tous les sujets ? (Ceci s'applique à toutes les catégories du forum.)</h4>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'forum:reset_bookmarks' user.pk %}">
        {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-danger">Oui, réinitialiser</button>
        </form>
      </div>
    </div>
  </div>
</div>
{# Caption #}
<div class="row">
    <div class="col-xs-12">
        <h6>Légende</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="legend"><img src="{% static 'img/on.png' %}" style="vertical-align:middle;padding:0 5px 3px 0;"><small>De nouveaux messages depuis votre dernière visite</small></p>
        <p class="legend"><img src="{% static 'img/off.png' %}" style="vertical-align:middle;padding:0 5px 3px 0;"><small>Aucun nouveau message depuis votre dernière visite</small></p>
    </div>
</div>
{% endblock %}