{% extends "base.html" %}
{% block title %}Modifier{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li><a href="{% url 'forum:thread' category.slug thread.slug %}">
    {% if thread.question %}
        Sondage : {{ thread.title }}
    {% else %}
        Sujet : {{ thread.title }} 
    {% endif %}
    </a></li>
    <li class="active">Modifier</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form form.helper %}
    </div>
    {% include "smileys.html" %}
</div>

{# Thread cession #}
<div class="modal fade" id="cessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Céder un sujet</h4>
      </div>
      <div class="modal-body">
        <p>Vous pouvez céder le contrôle de ce sujet en communiquant le code ci-dessous à un autre membre.</p>
        <strong>{{ thread.cessionToken }}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{# Thread deletion #}
{% if thread.personal %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Êtes-vous sûr de vouloir supprimer le sujet ?</h4>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'forum:delete_thread' thread.pk %}">
        {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-danger">Oui, supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include "threadform_js.html" %}
<script>
    // Focus
    $(document).ready(function() {
        $("textarea[id$='content_plain']").focus();
    });
</script>
{% endblock %}