{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li><a href="{% url 'forum:thread' category.slug thread.slug %}">
    {% if thread.question %}
        Sondage : {{ thread.title }}
    {% else %}
        Sujet : {{ thread.title }} 
    {% endif %}
    </a></li>
    <li class="active">Réponse</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form %}
    </div>
    {% include "smileys.html" %}
</div>
<script>
    // Preview button
    $('#submit-id-preview').removeClass("btn-primary").addClass("btn-default");
    // Focus
    $textArea = $("textarea[id$='content_plain']")
    $textArea.focus();
    var length = $textArea.val().length;
    $textArea[0].setSelectionRange(length, length);
</script>
{% endblock %}