{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li class="active">Nouveau sondage</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-md-12" id="main">
        <form method="post">
            {% crispy thread_form %}
            {% crispy question_form %}
            <div id="form_set">
                {% crispy choices_formset formset_helper %}
            </div>
            <div class="btn-group">
                <button type="button" id="more" class="btn btn-default">
                    <span style="font-weight:bold">+</span>
                </button>
                <button type="button" id="less" class="btn btn-default">
                    <span style="font-weight:bold">-</span>
                </button>
            </div>
            <input type="submit" name="submit" value="Enregistrer" class="btn btn-primary" id="submit-id-submit" />
        </form>
    </div>
    {% include "smileys.html" %}
</div>
<script>
    $("input[id$='title']").focus();
    $('div:regex(id,^div_id_choices-[2-9])').hide();
    $('label:regex(for,^id_choices)').text(function(index) {
        return "Choix " + (index + 1);
    });
    $('#less').attr("disabled", "disabled");

    $('#more').click(function() {
        var $firstHiddenChoice = $("div[id^='div_id_choices']:hidden:first");
        $firstHiddenChoice.attr("data-hidden", true);
        $firstHiddenChoice.show();
        $firstHiddenChoice = $("div[id^='div_id_choices']:hidden");
        if (!$firstHiddenChoice.length) {
            $('#more').attr("disabled", "disabled");
        };
        if ($('#less').attr("disabled")) {
            $('#less').removeAttr("disabled");
        };
        $('html, body').animate({
            scrollTop: $("#more").offset().top
        }, 0);
    });

    $('#less').click(function() {
        var $lastUnhiddenChoice = $("div[data-hidden=true]:last");
        $lastUnhiddenChoice.hide();
        $lastUnhiddenChoice.attr("data-hidden", false);
        $lastUnhiddenChoice = $("div[data-hidden=true]");
        if (!$lastUnhiddenChoice.length) {
            $('#less').attr("disabled", "disabled");
        };
        if ($('#more').attr("disabled")) {
            $('#more').removeAttr("disabled");
        };
        $('html, body').animate({
            scrollTop: $("#less").offset().top
        }, 0);
    });
</script>
{% endblock %}