{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li class="active">Nouveau sujet</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form %}
    </div>
    {% include "smileys.html" %}
</div>
<script>
    // Preview button
    $('#submit-id-preview').removeClass("btn-primary").addClass("btn-default");
    // Focus
    $("input[id$='title']").focus();
</script>
{% endblock %}
