{% extends "logged_in.html" %}
{% block logged_in_content %}
<div class="row">
    <h6><a href="{% url 'forum:top' %}">FoRuM</a> &gt; <a href="{% url 'forum:category' category.slug %}">{{ category.title }}</a> &gt; {{ thread.title }}</h6>
    <br>
    <hr style="margin:10px 0 10px 0">
    <div class="row">
        <strong>
            <div class="col-md-2 text-left">
                Auteur
            </div>
            <div class="col-md-10">
                Sujet : {{ thread.title }}
            </div>
        </strong>
    </div>
    <hr style="margin:10px 0 10px 0">
    {% for post in object_list %}
        <a name="{{ post.pk }}"></a>
        <div class="row">
            <div class="col-md-2 text-center">
                <p style="word-wrap: break-word">
                    <strong>{{ post.author }}</strong>
                    {% if post.author.quote %}
                        <br>
                        <small>{{ post.author.quote }}</small>
                    {% endif %}
                </p>
                {% if post.author.logo %}
                    <img src="{{ media }}{{ post.author.logo }}" alt="">
                {% endif %}
            </div>
            <div class="col-md-10">
                <small>
                    Posté le {{ post.created|date:"j F Y à H:i:s" }}
                    {% ifequal post.author user %}
                         | <a href="{% url 'forum:edit' category.slug thread.slug post.pk %}">Modifier</a>
                    {% endifequal %}
                    | <a href="">Citer</a>
                </small>
                <hr style="margin:10px 0 10px 0">
                {{ post.content_html|safe }}
            </div>
        </div>
    <hr style="margin:10px 0 10px 0">
    {% endfor %}
    <div class="row">
        <div class="col-md-1">
            <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-primary">Répondre</button></a>
        </div>
    </div>
</div>
{% endblock %}