{% extends "base.html" %}
{% block content %}
{% load static %}
{% with thread.category as category %}
{% with thread.question as question %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li class="active">
    {% if question %}
        Sondage : {{ thread.title }}
    {% else %}
        Sujet : {{ thread.title }} 
    {% endif %}
    </li>
</ol><br>
{# Poll results #}
{% if question %}
<div class="row"><div class="col-md-8 col-md-offset-2">
    <table class="table" style="table-layout:fixed;word-wrap:break-word">
        <thead>
            <th colspan="2">{{ question }}</th>
        </thead>
        <tbody>
            <tr>
                <td style="border:none" colspan="2"></td>
            </tr>
            {% if user not in question.voters.all %}
                <form method="post" action="{% url 'forum:vote' category.slug thread.slug %}">
                {% csrf_token %}
            {% endif %}
            {% for choice in question.choices.all %}
            <tr>
                <td style="width:20%;border:none;padding:0;word-wrap: break-word">
                    <label style="float:left">
                    {% if user not in question.voters.all %}
                        <input type="radio" name="choice_text" value="{{ choice }}">
                    {% endif %}
                        <span style="font-weight:normal">{{ choice }}</span>
                    </label>
                    {# In order to have labels and progress bars aligned #}
                    <div class="progress" style="visibility: hidden">
                        <div class="progress-bar"></div>
                    </div>
                </td>
                <td style="border:none;padding:0">
                    <div class="progress poll-chart">
                        <div class="progress-bar progress-bar-success poll-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ choice.votes }}</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td style="padding-left:0">
                {% if user not in question.voters.all %}
                    <button type="submit" class="btn btn-default btn-xs">Voter</button>
                    </form>
                {% endif %}
                </td>
                <td style="font-weight:bold"><small>{{ question.voters.count }} participant(s)</small></td>
            </tr>
        </tbody>
    </table>
</div></div>
<script>
$(document).ready(function() {
    var $chart = $('.poll-chart');
    var $bar = $('.poll-bar');
    // Get highest number and use that as 100%
    // This will always make sure the graph is a decent size and all numbers are relative to each other
    var highestNumber = 0;
    var sum = 0;
    $chart.find($bar).each(function() {
        var num = $(this).text();
        sum += parseInt(num,10);
        if (num > highestNumber) {
            highestNumber = num;
        };
    });
    // Set the progress bar data
    $chart.find($bar).each(function() {
        num = $(this).text();
        // Convert to percentage and round
        dispPerc = Math.round((num / highestNumber) * 100);
        realPerc = Math.round((num / sum) * 100);
        if(!isNaN(realPerc) && realPerc !== 0) {
            $(this).animate({width: dispPerc + '%'}, {duration:'fast'});
            $(this).text(Math.round(realPerc) + '%');
            $(this).attr("aria-valuenow", dispPerc);
        } else {
            $(this).text("");
        };
    });
});
</script>
{% endif %}
{# Header #}
{% if object_list.count > 5 %} 
<div class="row" style="padding: 5px 0">
    <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-default pull-left">Répondre</button></a>
</div>
{% endif %}
<hr style="margin:8px; border-top:0">
<div class="row">
    <strong>
        <div class="col-sm-2 hidden-xs text-left post-header" style="border-right:1px solid #f9f9f9">
            Auteur
        </div>
        <div class="col-sm-10 post-header">
            {% if question %}
                Sondage : {{ thread.title }}
            {% else %}
                Sujet : {{ thread.title }} 
            {% endif %}
        </div>
    </strong>
</div>
<hr style="margin:1px; border-top:0">
{# Posts #}
{% for post in object_list %}
<div class="row">
    <a name="{{ post.pk }}"></a>
    {# Large display author #}
    <div class="col-sm-2 text-center hidden-xs equal-divs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2;">
        <p style="word-wrap: break-word">
            <strong>{{ post.author }}</strong><br>
            {% if post.author.quote %}
                <small>{{ post.author.quote }}</small>
            {% endif %}
        </p>
        {% if post.author.logo %}
            <p><img src="{{ media }}{{ post.author.logo }}" alt=""></p>
        {% endif %}
        <p style="font-size:10px">depuis le {{ post.author.date_joined|date:'d/m/Y' }}</p>
    </div>
    {# Small display author #}
    <div class="col-sm-2 hidden-sm hidden-md hidden-lg post-author" style="padding-top: 5px;">
        <strong>{{ post.author }}</strong>
        <small>
            | Posté le {{ post.created|date:"j F Y à H:i:s" }}
            {% ifequal post.author user %}
                 | <a href="{% url 'forum:edit' category.slug thread.slug post.pk %}">Modifier</a>
            {% endifequal %}
            | <a href="{% url 'forum:quote' category.slug thread.slug post.pk %}">Citer</a>
        </small>
    </div>
    {# Content #}
    <div class="col-sm-10 post equal-divs">
        <small class="hidden-xs">
            Posté le {{ post.created|date:"j F Y à H:i:s" }}
            {% ifequal post.author user %}
                 | <a href="{% url 'forum:edit' category.slug thread.slug post.pk %}">Modifier</a>
            {% endifequal %}
            | <a href="{% url 'forum:quote' category.slug thread.slug post.pk %}">Citer</a>
        </small>
        <hr style="margin:5px; border-top: 1px solid #ccc">
        <div class="post-content">
            {{ post.content_html|safe }}
        </div>
        {% if post.modified %}
            <br><br>
            <p style="font-size:9px">— Modifié le {{ post.modified|date:"j F Y à H:i:s" }}</p>
        {% endif %}
    </div>
</div>
<hr style="margin:8px; border-top:0">
{% endfor %}
<script>
/**
 * Javascript-Equal-Height-Responsive-Rows
 * https://github.com/Sam152/Javascript-Equal-Height-Responsive-Rows
 */
(function($){$.fn.equalHeight=function(){var heights=[];$.each(this,function(i,element){$element=$(element);var element_height;var includePadding=($element.css('box-sizing')=='border-box')||($element.css('-moz-box-sizing')=='border-box');if(includePadding){element_height=$element.innerHeight();}else{element_height=$element.height();}
heights.push(element_height);});this.css('height',Math.max.apply(window,heights)+'px');return this;};$.fn.equalHeightGrid=function(columns){var $tiles=this;$tiles.css('height','auto');for(var i=0;i<$tiles.length;i++){if(i%columns===0){var row=$($tiles[i]);for(var n=1;n<columns;n++){row=row.add($tiles[i+n]);}
row.equalHeight();}}
return this;};$.fn.detectGridColumns=function(){var offset=0,cols=0;this.each(function(i,elem){var elem_offset=$(elem).offset().top;if(offset===0||elem_offset==offset){cols++;offset=elem_offset;}else{return false;}});return cols;};$.fn.responsiveEqualHeightGrid=function(){var _this=this;function syncHeights(){var cols=_this.detectGridColumns();_this.equalHeightGrid(cols);}
$(window).bind('resize load',syncHeights);syncHeights();return this;};})(jQuery);
$('.equal-divs').responsiveEqualHeightGrid();
</script>
{# Posts footer #}
<div class="row" style="padding: 5px 0">
        <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-primary pull-left">Répondre</button></a>
</div>
{# Quick reply #}
<hr style="margin:20px; border-top: 1px solid #ccc">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% include "toolbar.html" %}
        <form method="post" action="{% url 'forum:new_post' category.slug thread.slug %}">
        {% csrf_token %}
            <strong>Réponse rapide :</strong>
            <br>
            <textarea cols="80" id="id_content_plain" class="textarea form-control" name="content_plain" rows="5"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-sm">Enregistrer</button>
        </form>
        <br>
        {% include "smileys.html" %}
        <script>
            $('#smileys-panel').removeClass("col-xs-5").addClass("col-xs-12");
        </script>
    </div>
</div>
{# Pagination #}
{% if is_paginated %}
<div class="col-sm-12 text-center">
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&lt;&lt; </a>
                <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
                <a href="?page=last">&gt;&gt;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{# Path #}
<br><br>
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">FoRuM</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li class="active">
    {% if question %}
        Sondage : {{ thread.title }}
    {% else %}
        Sujet : {{ thread.title }} 
    {% endif %}
    </li>
</ol>
{% endwith %}
{% endwith %}
{% endblock %}