{% extends "base.html" %}
{% block title %}Prévisualisation{% endblock title %}
{% block content %}
{% load static %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li class="active">Prévisualisation du message</li>
</ol><br>
{# Header #}
<hr style="margin:8px; border-top:0">
<div class="row">
    <strong>
        <div class="col-sm-2 hidden-xs text-left post-header" style="border-right:1px solid #f9f9f9">Auteur</div>
        <div class="col-sm-10 post-header">Message</div>
    </strong>
</div>
<hr style="margin:1px; border-top:0">
{# Posts #}
<script>
    $(document).ready(function() {
        // Ensure presentation is ok on DOM ready().
        $('.equal-divs').responsiveEqualHeightGrid();
    })
    var x = setInterval(function() {
        // Ensure presentation is ok while media still loading.
        $('.equal-divs').responsiveEqualHeightGrid();
    }, 500);
    $(window).load(function() {
        // Stops presentation refresh when everything loaded.
        clearInterval(x);
    });
</script>
<div class="row">
    {# Large display author #}
    <div class="col-sm-2 text-center hidden-xs equal-divs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2;">
        <p style="word-wrap: break-word">
            <strong>{{ user.username }}</strong><br>
            {% if user.quote %}
                <small>{{ user.quote }}</small>
            {% endif %}
        </p>
        {% if user.logo %}
            <p><img src="{{ media }}{{ user.logo }}" alt=""></p>
        {% endif %}
        <p style="font-size:10px">depuis le {{ user.date_joined|date:'d/m/Y' }}</p>
    </div>
    {# Small display author #}
    <div class="col-sm-2 hidden-sm hidden-md hidden-lg post-author" style="padding-top: 5px;">
        <strong>{{ user }}</strong>
        <small>
            Posté le {% now "d/m/y à H:i:s" %} | Modifier | Citer
        </small>
    </div>
    {# Content #}
    <div class="col-sm-10 post equal-divs">
        <small class="hidden-xs">
            Posté le {% now "d/m/y à H:i:s" %} | Modifier | Citer
        </small>
        <hr style="margin:5px 0 8px 0; border-top: 1px solid #ccc">
        <div class="post-content" style="word-wrap: break-word">
            {{ preview.html|safe }}
        </div>
    </div>
</div>
<hr style="margin:8px; border-top:0">
{# Posts footer #}
<div class="row" style="padding: 5px 0">
        <a href="#" onclick="window.history.back();return false;"><button class="btn btn-primary pull-left">Retour</button></a>
</div>
{% endblock content %}