{% extends "base.html" %}
{% block content %}
<div class="row">
    <h6><a href="{% url 'forum:top' %}">FoRuM</a> &gt; {{ category.title }}</h6>
    <h2>Sujets :</h2>
    <a href="{% url 'forum:new_thread' category.slug %}">Nouveau sujet</a>
    <hr>
    <table>
        {% for thread in object_list %}
            <tr>
                <td><a href="{% url 'forum:thread' category.slug thread.slug %}">{{ thread }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
<hr>
<div class="row">
    <a href="{% url 'user:edit' %}">Modifier votre profil</a>
</div>
{% endblock content %}