{% extends "base.html" %}
{% load static %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
    <li class="active">Accueil</li>
</ol><br>
{# Threads #}
<div class="row">
    <table class="table table-condensed table-bordered" id="view">
        <thead>
        <tr>
            <th class="text-center" style="padding:5px 0;width:25px"><img src="{% static 'img/detail_search.gif' %}" style="vertical-align:bottom;padding-bottom:3px"></th>
            <th><small>Catégories</small></th>
            <th class="text-center col-xs-1 hidden-xs"><small>Messages</small></th>
            <th class="text-center col-xs-1 hidden-xs"><small>Réponses</small></th>
            <th class="text-center col-xs-2"><small>Dernier message</small></th>
        </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
            <tr>
                <td class="vert-align">
                    {% if category.threads.latest.posts.latest in user.postsReadCaret.all %}
                        <img src="{% static 'img/off.gif' %}" style="vertical-align:middle;padding:0 0 3px 0;">
                    {% elif not category.threads.latest.posts.latest %}
                        <img src="{% static 'img/off.gif' %}" style="vertical-align:middle;padding:0 0 3px 0;">
                    {% else %}
                        <img src="{% static 'img/on.gif' %}" style="vertical-align:middle;padding:0 0 3px 0;">
                    {% endif %}
                </td>
                <td class="vert-align">
                    <strong><a href="{% url 'forum:category' category.slug %}">{{ category.title }}</a></strong><br>
                    <small>{{ category.subtitle }}</small>
                </td>
                <td class="text-center vert-align hidden-xs"><small>{{ category.threads.count }}</small></td>
                <td class="text-center vert-align hidden-xs"><small>{{ category.postCount }}</small></td>
                <td class="text-center vert-align">
                    {% if category.threads.latest %}
                        <small>
                        <a href="{% url 'forum:thread' category.slug category.threads.latest.slug %}#{{ category.threads.latest.posts.latest.pk }}" class="lastMessage">
                        {{ category.threads.latest.modified|date:'d/m/y H:i' }}
                        <br><strong>{{ category.threads.latest.posts.latest.author }}</strong>
                        </a>
                        </small>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{# Caption #}
<div class="row">
    <div class="col-xs-12">
        <h6>Légende</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="legend"><img src="{% static 'img/on.gif' %}" style="vertical-align:middle;padding:0 5px 3px 0;"><small>De nouveaux messages depuis votre dernière visite</small></p>
        <p class="legend"><img src="{% static 'img/off.gif' %}" style="vertical-align:middle;padding:0 5px 3px 0;"><small>Aucun nouveau message depuis votre dernière visite</small></p>
    </div>
</div>
{% endblock %}