{% extends "base.html" %}
{% block title %}Nouvelle réponse{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    {% include "forum/post_path.html" %}
    <li class="active">Réponse</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form %}
    </div>
    {% include "smileys.html" %}
</div>
{# Posts #}
<hr>
<h3>Derniers messages</h3>
{% for post in history %}
<div class="row equal-divs">
    <a name="{{ post.pk }}"></a>
    {# Large display author #}
    <div class="col-sm-2 text-center hidden-xs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2; word-wrap:break-word;">
        <p style="margin-bottom:5px">
            <strong>{{ post.cached_author }}</strong>
        </p>
        {% if post.cached_author.quote %}
            <p style="line-height:100%"><small>{{ post.cached_author.quote }}</small></p>
        {% endif %}
        {% if post.cached_author.logo %}
            <p><img src="{{ media }}{{ post.cached_author.logo }}" alt=""></p>
        {% endif %}
        <p style="font-size:10px">depuis le {{ post.cached_author.date_joined|date:'d/m/Y' }}</p>
    </div>
    {# Content #}
    <div class="col-sm-10 post">
        <span class="hidden-sm hidden-lg hidden-md" style="display:inline"><strong>{{ post.cached_author }}</strong> | </span>
        <small>Posté le {{ post.created|date:"d/m/y à H:i:s" }}</small>
        <hr style="margin:5px 0 8px 0; border-top: 1px solid #ccc">
        <div class="post-content" style="word-wrap: break-word">
            {{ post.html|safe }}
        </div>
        {% if post.modified %}
            <br>
            <p style="font-size:9px;color:#777777">— Modifié le {{ post.modified|date:"j F Y à H:i:s" }}</p>
        {% endif %}
    </div>
</div>
<hr style="margin:8px; border-top:0">
{% endfor %}
<script>
    // Preview button
    $('#submit-id-preview').removeClass("btn-primary").addClass("btn-default");
    // Focus
    $textArea = $("textarea[id$='content_plain']")
    $textArea.focus();
    var length = $textArea.val().length;
    $textArea[0].setSelectionRange(length, length);
</script>
{% endblock %}