{% extends "base.html" %}
{% block title %}{{ thread.title|capfirst }}{% endblock title %}
{% block content %}
{% load static %}
{% with thread.category as category %}
{% with thread.question as question %}
{# Path #}
<ol class="breadcrumb">
    {% include "forum/post_path.html" %}
</ol>
{# Poll results #}
{% if question %}
<div class="row"><div class="col-md-8 col-md-offset-2">
    <table class="table" style="table-layout:fixed;word-wrap:break-word">
        <thead>
            <th colspan="2">{{ question }}</th>
        </thead>
        <tbody>
            <tr>
                <td style="border:none" colspan="2"></td>
            </tr>
            {% if user not in question.voters.all %}
                <form method="post" action="{% url 'forum:vote' category.slug thread.slug %}">
                {% csrf_token %}
            {% endif %}
            {% for choice in question.choices.all %}
            <tr>
                <td style="width:20%;border:none;padding:0;word-wrap: break-word">
                    <label style="float:left">
                    {% if user not in question.voters.all %}
                        <input type="radio" name="choice_text" value="{{ choice }}">
                    {% endif %}
                        <span style="font-weight:normal">{{ choice }} – {{ choice.votes }} vote(s)</span>
                    </label>
                    {# In order to have labels and progress bars aligned #}
                    <div class="progress" style="visibility: hidden">
                        <div class="progress-bar"></div>
                    </div>
                </td>
                <td style="border:none;padding:0">
                    <div class="progress poll-chart">
                        <div class="progress-bar progress-bar-success poll-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ choice.votes }}</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td style="padding-left:0">
                {% if user not in question.voters.all %}
                    <button type="submit" class="btn btn-default btn-xs">Voter</button>
                    </form>
                {% endif %}
                </td>
                <td style="font-weight:bold"><small>{{ question.voters.count }} participant(s)</small></td>
            </tr>
        </tbody>
    </table>
</div></div>
{% endif %}
{# Header #}
{% include "pagination.html" %}
{# Top reply button #}
<div class="row hidden-xs" style="padding: 5px 0"> {# large display #}
    <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-default pull-left">Répondre</button></a>
</div>
<div class="row visible-xs" style="padding: 5px 2px"> {# small display #}
    <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-default pull-left">Répondre</button></a>
</div>
{# Thread's title #}
<hr style="margin:8px; border-top:0">
<div class="row">
    <strong>
        <div class="col-sm-2 hidden-xs text-left post-header" style="border-right:1px solid #f9f9f9">
            Auteur
        </div>
        <div class="col-sm-10 post-header">
            {% if question %}
                Sondage : {{ thread.title|capfirst }}
            {% else %}
                Sujet : {{ thread.title|capfirst }} 
            {% endif %}
        </div>
    </strong>
</div>
<hr class="hidden-xs" style="margin:1px; border-top:0">
<hr class="visible-xs" style="margin:8px; border-top:0">
{# Posts #}
{% for post in object_list %}
<div class="row">
    <a name="{{ post.pk }}"></a>
    {# Author #}
    <div class="col-xs-2 text-center hidden-xs equal-divs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2; word-wrap:break-word;"> {# large display #}
        <p style="margin-bottom:5px">
        {% ifequal post.cached_author user %} 
            <strong>{{ post.cached_author }}</strong>
        {% else %}
            <strong><a class="author" role="button" tabindex="0" role="button" data-toggle="popover" data-id="{{ post.cached_author.pk }}" data-content="<a class='send-pm btn btn-sm btn-default' role='button' data-toggle='modal' data-target='#pm-modal'>Envoyer un message privé</a>">{{ post.cached_author }}</a></strong>
        {% endifequal %}
        </p>
        {% if post.cached_author.quote %}
            <p style="line-height:100%"><small>{{ post.cached_author.quote }}</small></p>
        {% endif %}
        {% if post.cached_author.logo %}
            <p><img src="{{ media }}{{ post.cached_author.logo }}" alt=""></p>
        {% endif %}
        <p style="font-size:10px">depuis le {{ post.cached_author.date_joined|date:'d/m/Y' }}</p>
    </div>
    {% if user.showLogosOnSmartphone %} {# small display #}
    <div class="col-xs-2 visible-xs" style="padding:0 5px">
        {% if post.cached_author.logo %}
            <img src="{{ media }}{{ post.cached_author.logo }}" alt="" class="img-responsive img-rounded">
        {% endif %}
    </div>
    <div class="col-xs-10 post equal-divs">
    {% else %}
    <div class="col-xs-12 col-sm-10 post equal-divs">    
    {% endif %}
    {# Content #}
        <span class="hidden-sm hidden-lg hidden-md" style="display:inline"><strong>{{ post.cached_author }}</strong> | </span>
        <small>
            <span class="hidden-xs">Posté le {{ post.created|date:"d/m/y à H:i:s" }}</span><span class="hidden-sm hidden-lg hidden-md">Le {{ post.created|date:"d/m/y à H:i" }}</span>
            {% ifequal post.cached_author user %}
                 | <a href="{% url 'forum:edit' category.slug thread.slug post.pk %}">Modifier</a>
            {% endifequal %}
            | <a href="{% url 'forum:quote' category.slug thread.slug post.pk %}">Citer</a>
            | <a href="{% url 'forum:post' post.pk %}"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </small>
        <hr style="margin:5px 0 8px 0; border-top: 1px solid #ccc">
        <div class="post-content" style="word-wrap: break-word">
            {{ post.html|safe }}
        </div>
        {% if post.modified %}
            <br>
            <p style="font-size:9px;color:#777777">— Modifié le {{ post.modified|date:"j F Y à H:i:s" }}</p>
        {% endif %}
    </div>
</div>
<hr style="margin:8px; border-top:0">
{% endfor %}
{# Bottom reply button #}
<div class="row hidden-xs" style="padding: 5px 0"> {# large display #}
        <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-primary pull-left">Répondre</button></a>
</div>
<div class="row visible-xs" style="padding: 5px 2px"> {# small display #}
        <a href="{% url 'forum:new_post' category.slug thread.slug %}"><button class="btn btn-primary pull-left">Répondre</button></a>
</div>
{% include "pagination.html" %}
<hr style="margin:20px; border-top: 1px solid #ccc">
{# Quick reply #}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% include "toolbar.html" %}
        <form method="post" action="{% url 'forum:new_post' category.slug thread.slug %}">
        {% csrf_token %}
            <strong>Réponse rapide :</strong>
            <br>
            <textarea cols="80" id="id_content_plain" class="textarea form-control" name="content_plain" rows="5" maxlength="100000"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-sm" accesskey="s">Répondre</button>
            <button type="submit" name="preview" class="btn btn-default btn-sm" accesskey="p">Prévisualiser</button>
        </form>
        <br>
        {% include "smileys.html" %}
        <script>
            $('#smileys-panel').removeClass("col-xs-5").addClass("col-xs-12");
            $('#smileys-panel > div > div > br').remove()
        </script>
    </div>
</div>
{# Path #}
<br><br>
<ol class="breadcrumb">
    {% include "forum/post_path.html" %}
</ol>
<!-- PM Modal -->
<div class="modal fade" id="pm-modal" tabindex="-1" role="dialog" aria-labelledby="pmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pmModal"></h4>
      </div>
      <form method="post" action="{% url 'pm:new_conv' %}">
        {% csrf_token %}
        <input type="hidden" name="recipient" id="id_recipient"> 
        <div class="modal-body">
          <textarea cols="80" id="id_content_plain" class="textarea form-control" name="content_plain" rows="5" maxlength="100000"></textarea>
        </div>
        <div class="modal-footer">
          <a id="full-editor-link" type="button" role="button" class="btn btn-default" href="{% url 'pm:new_conv' %}">Editeur complet</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endwith %}
{% endwith %}
{% endblock %}
