{% extends "base.html" %}
{% block title %}Détail{% endblock title %}
{% block content %}
{% load static %}
{# Path #}
{% with post.thread as thread %}
{% with thread.category as category %}
<ol class="breadcrumb">
    {% include "forum/post_path.html" %}
    <li class="active">Message de {{ post.author }}</li>
</ol>
{% endwith %}
{% endwith %}
<br>
{# Header #}
<hr style="margin:8px; border-top:0">
<div class="row">
    <strong>
        <div class="col-sm-2 hidden-xs text-left post-header" style="border-right:1px solid #f9f9f9">Auteur</div>
        <div class="col-sm-10 post-header">Message</div>
    </strong>
</div>
<hr style="margin:1px; border-top:0">
{# Posts #}
<div class="row">
    <a name="{{ post.pk }}"></a>
    {# Large display author #}
    <div class="col-sm-2 text-center hidden-xs" style="padding: 10px 0px; border-right:1px solid #f9f9f9; background-color: #f2f2f2; word-wrap:break-word;">
        <p style="margin-bottom:5px">
            <strong>{{ post.cached_author }}</strong>
        </p>
        {% if post.cached_author.quote %}
            <p style="line-height:100%"><small>{{ post.cached_author.quote }}</small></p>
        {% endif %}
        {% if post.cached_author.logo %}
            <p><img src="{{ media }}{{ post.cached_author.logo }}" alt=""></p>
        {% endif %}
        <p style="font-size:10px">depuis le {{ post.cached_author.date_joined|date:'d/m/Y' }}</p>
    </div>
    {# Content #}
    <div class="col-sm-10 post">
        <span class="hidden-sm hidden-lg hidden-md" style="display:inline"><strong>{{ post.cached_author }}</strong> | </span>
        <small>
            Posté le {{ post.created|date:"d/m/y à H:i:s" }}
        </small>
        <hr style="margin:5px 0 8px 0; border-top: 1px solid #ccc">
        <div class="post-content" style="word-wrap: break-word">
            {{ post.html|safe }}
        </div>
        {% if post.modified %}
            <br>
            <p style="font-size:9px;color:#777777">— Modifié le {{ post.modified|date:"j F Y à H:i:s" }}</p>
        {% endif %}
    </div>
</div>
<hr style="margin:8px; border-top:0">
{# Posts footer #}
<div class="row" style="padding: 5px 0">
        <a href="#" onclick="window.history.back();return false;"><button class="btn btn-primary pull-left">Retour</button></a>
</div>
{% endblock content %}
