{% extends "base.html" %}
{% block title %}Nouveau sujet{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% include "user_autocomplete.html" %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li><a href="{% url 'forum:category' category %}">{{ category.title }}</a></li>
    <li class="active">Nouveau sujet</li>
</ol>
{# Form #}
<div class="row">
    <div class="col-xs-12" id="main">
        {% crispy form %}
    </div>
    {% include "smileys.html" %}
</div>
{% include "threadform_js.html" %}
<script>
    // Focus
    $("input[id$='title']").focus();
</script>
{% endblock %}
