{% extends "base.html" %}
{% block title %}Blog{% endblock title %}
{% load static %}
{% load cache %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
  <li class="active">Accueil</a></li>
</ol>
{# Buttons #}
{% if user.is_authenticated %}
<div class="row text-center">
  <div style="padding: 10px 0">
    <a href="{% url 'blog:new_post' %}">
      <button class="btn btn-default">Nouveau billet</button></a>
  </div>
</div>
{% endif %}
{% include "pagination.html" %}
{# Posts #}
    {% for p in object_list %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 page-header">
        <h1>{{ p.title|capfirst }}</h1>
        <p><em>Le {{ p.created_at|date:'d F Y à H:i' }}, par {{ p.author.username }} <a href="{% url 'blog:post' p.slug %}"><small><span class="glyphicon glyphicon-link"></span></small></a>{% if p.author == user %} – <a href="{% url 'blog:edit' p.slug %}">Modifier</a>{% endif %}</em></p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        {% if p.image %}
          <img src="{{ media }}{{ p.image }}" class="img-responsive" style="max-height:450px;;margin: 0 auto">
        {% endif %}
        <p>{{ p.html|safe }}</p>
        {% if p.forum_thread %}
        <a href="{% url 'forum:thread' p.forum_thread.category.slug p.forum_thread.slug %}">{{ p.forum_thread.post_count }} commentaire(s)</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</div>
{# Footer #}
{% include "pagination.html" %}
{% endblock %}
