{% extends "base.html" %}
{% block content %}
<h1>Paramètres du profil :</h1>
<form enctype="multipart/form-data" method="post" action="{% url 'user:edit' %}">
    {% csrf_token %}
    <table>
        <tr>
            <th>Nom d'utilisateur :</th>
            <td>{{ user }}</td>
        </tr>
        {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}
            </th>
            <td>
                {% if 'Logo' in field.label_tag and user.logo %}
                    <img src="{{ media_path }}{{ user.logo }}">
                    <br>
                {% endif %}
                {{ field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <input type="submit" value="Enregistrer" />
</form>
{% endblock %}