{% extends "logged_in.html" %}
{% block logged_in_content %}
<div class="row">
    <h1>Paramètres du profil :</h1>
    <form enctype="multipart/form-data" method="post" action="{% url 'user:edit' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Nom d'utilisateur :</th>
                <td>{{ user }}</td>
            </tr>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}
                </th>
                <td>
                    {% if 'Logo' in field.label_tag and user.logo %}
                        <img src="{{ media }}{{ user.logo }}">
                        <br>
                    {% endif %}
                    {{ field }}{{ field.errors }}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
{% endblock %}