{% extends "base.html" %}
{% block content %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li class="active">Profil</li>
</ol>
{# Tabs #}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="{% url 'user:profile' %}">Paramètres</a></li>
    <li role="presentation"><a href="{% url 'user:password' %}">Sécurité</a></li>
    <li role="presentation" class="active"><a href="#">Liste des membres</a></li>
    <li role="presentation"><a href="#">Top 10</a></li>
</ul>
{# Content #}
<div style="padding-top:20px">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Pseudonyme</th>
            <th class="text-center">Enregistré depuis le</th>
            <th class="text-center">E-mail</th>
            <th class="text-center">Site web</th>
        </tr>
        </thead>
        <tbody>
        {% for member in object_list %}
            <tr>
                <td>
                    <strong>{{ member }}</strong>
                    {% if member.last_login > creation %}
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ member.date_joined|date:'d/m/Y' }}
                </td>
                <td class="text-center">
                {% if member.emailVisible %}
                    {{ member.email }}
                {% endif %}
                </td>
                <td class="text-center">
                {% if member.website %}
                    <a href="{{ member.website }}"><span class="glyphicon glyphicon-home"></span></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}