{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="{% url 'user:profile' %}">Profil</a></li>
    <li role="presentation" class="active"><a href="#">Sécurité</a></li>
    <li role="presentation"><a href="{% url 'user:members' %}">Liste des membres</a></li>
    <li role="presentation"><a href="#">Top 10</a></li>
</ul>
<div class="row">
    <div class="col-md-12">
        <h1>Changer de mot de passe</h1>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"><span class="glyphicon glyphicon-saved"></span> {{ message }}</div>
        {% endfor %}
        {% crispy form %}
    </div>
</div>
<script>
    $('#changeLogoText').html(function(i, v) {
        return v.replace(/Actuellement: /g, '');    
    });
    $("a:contains('logo/')").hide()
</script>
{% endblock %}