{% extends "base.html" %}
{% block title %}Profil{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{# Path #}
<ol class="breadcrumb">
    <li><a href="{% url 'forum:top' %}">Accueil</a></li>
    <li class="active">Profil</li>
</ol>
{# Tabs #}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#">Paramètres</a></li>
    <li role="presentation"><a href="{% url 'user:password' %}">Sécurité</a></li>
    <li role="presentation"><a href="{% url 'user:members' %}">Liste des membres</a></li>
    <li role="presentation"><a href="{% url 'user:top10' %}">Top 10</a></li>
</ul>
{# Content #}
<div class="row">
    <div class="col-md-12">
        <h1>Paramètres du profil</h1>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"><span class="glyphicon glyphicon-saved"></span> {{ message }}</div>
        {% endfor %}
        <form enctype="multipart/form-data" method="post" action="{% url 'user:profile' %}">
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    </div>
</div>
<script>
    $('#changeLogoText').html(function(i, v) {
        return v.replace(/Actuellement: /g, '');    
    });
    $("a:contains('logo/')").hide()
</script>
{% endblock %}