{% load crispy_forms_field %}

<label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
<p>Si un autre membre vous a communiqué un code pour le remplacer comme auteur de l'un de ses sujets, vous pouvez en accepter la paternité en entrant ce code ci-dessous :</p>
<div id="div_{{ field.auto_id }}" class="form-group">
    <label for="{{ field.id_for_label }}" class="sr-only{% if field.field.required %} requiredField{% endif %}">
        {{ field.label|safe }}
    </label>
    {% crispy_field field 'placeholder' 'Code' %}
</div>