{% extends "base.html" %}
{% block title %}Mot de passe oublié{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row" style="display: flex; align-items: center;">
    <div class="col-md-12">
    <h1>Réinitialisation du mot de passe</h1>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Message envoyé</h3>
        </div>
        <div class="panel-body">
            <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe à l'adresse que vous avez indiquée. Vous devriez le recevoir rapidement.</p>
            <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>            
        </div>
    </div>
</div>
{% endblock %}